p {
  margin: 0;
}

.wrapper {
  background-color: #404040;
  border-top: 1.8px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  color: white;
  font-size: 1rem;
  margin-top:auto;
  min-height:50px;
}

.wrapper > div:first-child {
  text-align: right;
  margin-right: 1rem;
}

.wrapper > div:last-child {
  margin-left: 2rem;
}

.title {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 750;
  color: white;
  text-align: right;
}

.nav-link-text {
  color: #C0C0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.nav-link-text:hover {
  color: #FF00FF;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.instagram,
.facebook,
.twitter {
  background-size: 1.875rem 1.875rem;
  height: 1.875rem;
  width: 1.875rem;
  margin-left: 1rem;
  -webkit-transition: -webkit-transform 0.3 ease;
  transition: -webkit-transform 0.3 ease;
  -o-transition: transform 0.3 ease;
  transition: transform 0.3 ease;
  transition: transform 0.3 ease, -webkit-transform 0.3 ease;
}

.instagram:hover,
.twitter:hover,
.facebook:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.instagram {
  background-image: url("../images/instagram.svg");
}

.facebook {
  background-image: url("../images/facebook.svg");
}

.twitter {
  background-image: url("../images/twitter.svg");
}

@media screen and (max-width: 800px) {
  .title{
    font-size: medium;
  }
  .wrapper{
    font-size: medium;
  }
  .instagram,
  .facebook,
  .twitter{
    height: 2rem;
    width: 1.9rem;
    margin-left: 0.4rem;
  }
  .wrapper > div:first-child{
    margin-left: 1.3rem;
  }
  .wrapper > div:first-child {
    margin-right: 0.2rem;
  }
}